.map-container {
  display: flex;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0;
  padding-top: 1em;
}

.map-frame {
  height: 100%;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

#map {
  height: 70vh;
  width: 100vh;
  outline: rgba(0, 0, 0, 0.2);
}
