.headline {
    position: absolute;
    left: 50%;
    font-size: 2.8rem;
    font-weight: 600;
    line-height: 2.8rem;
    transform: translate(-50%, -50%);
    width: 40rem;
    padding: 2rem;
    right: 50%;
    top: 1.5rem;
    z-index: 999;
}

.subheadline {
    position: absolute;
    color: white;
    font-size: 2rem;
    line-height: 2rem;
    font-weight: 500;
    width: 60rem;
    transform: translate(-50%, -50%);
    padding: 2rem;
    left: 50%;
    right: 50%;
    top: 8rem;
    background-color: rgba($color: #000000, $alpha: 0.8);
    z-index: 999;
}