<header class="header header-4">
  <div class="branding">
    <a class="nav-link nav-text">
      <span class="title">Happy Dogs</span>
    </a>
  </div>

  <div class="header-nav">
    <a href="javascript://" class="active nav-link nav-text">Dashboard</a>
  </div>

  <form class="search">
    <label for="search_input">
      <input id="search_input" style="color: white" type="text" placeholder="Geben Sie eine Adresse ein..." />
    </label>
  </form>

  <div class="header-actions header-actions--overflow">
    <div class="dropdown open">
      <button class="nav-text dropdown-toggle" aria-label="open user profile" type="button">
        max@mustermann.de&nbsp;&nbsp;<clr-icon shape="user" size="lg" badge="info"></clr-icon>
      </button>
      <div class="dropdown-menu">
        <h4 class="dropdown-header">Account</h4>
        <div class="dropdown-item"><clr-icon shape="cog" direction="down"></clr-icon>&nbsp;Settings</div>
        <div class="dropdown-divider" role="separator"></div>
        <h4 class="dropdown-header">Navigation</h4>
        <div class="dropdown-item"><clr-icon shape="floppy" direction="down"></clr-icon>&nbsp;My routes</div>
        <div class="dropdown-item"><clr-icon shape="line-chart" direction="down"></clr-icon>&nbsp;Statistics</div>
        <div class="dropdown-divider" role="separator"></div>
        <button class="dropdown-item"><clr-icon shape="logout" direction="down"></clr-icon>&nbsp;Logout</button>
      </div>
    </div>
  </div>
</header>
